.scroll-progress {
  position: fixed;
  top: calc(1rem + 80px);
  left: 0;
  height: 4px;
  background: var(--accent);
  z-index: 2000;
  transition: width 0.1s linear;
}

@media (max-width: 768px) {
 .scroll-progress {
  top: calc(1rem + 60px);
 } 
}